<div class="page-title">
  <h4>
    <a routerLink="/categories">Categories</a>
    <i class="material-icons">keyboard_arrow_right</i>
    {{isNew ? 'Add' : 'Edit'}} category
  </h4>
  <span>
    <button
      *ngIf="!isNew"
      class="btn btn-small red"
      (click)="deleteCategory()">
      <i class="material-icons">delete</i>
    </button>
  </span>
</div>

<div class="row">
  <form class="col s12 l6" [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="input-field">
      <input
        formControlName="name"
        id="name"
        [ngClass]="{'invalid': form.get('name').invalid && form.get('name').touched}"
        type="text">
      <label for="name">Name</label>
      <span
        *ngIf="form.get('name').invalid && form.get('name').touched"
        class="helper-text red-text">
        <span *ngIf="form.get('name').errors['required']">
          This field is required
        </span>
      </span>
    </div>

    <div>
      <input
        type="file"
        class="dn"
        #fileInput
        (change)="onFileUpload($event)">
      <button
        (click)="fileInput.click()"
        [disabled]="form.disabled"
        type="button"
        class="waves-effect waves-light btn orange lighten-2 mb2">
        <i class="material-icons left">backup</i>
        Upload image
      </button>
    </div>

    <div>
      <button
        type="submit"
        [disabled]="form.invalid || form.disabled"
        class="waves-effect waves-light btn">
        Save
      </button>
    </div>
  </form>

  <div class="col s12 l4 center">
    <img
      *ngIf="imagePreview"
      class="responsive-img h200"
      [src]="imagePreview">
  </div>
</div>

<!--<app-positions-form></app-positions-form>-->
