<form
  [formGroup]="form"
  (ngSubmit)="onSubmit()"
  class="card">
  <div class="card-content">
    <span class="card-title">Sign in</span>
    <div class="input-field">
      <input
        formControlName="email"
        [ngClass]="{'invalid': form.get('email').invalid && form.get('email').touched}"
        id="email"
        type="email">
      <label for="email">Email:</label>
      <span
        *ngIf="form.get('email').invalid && form.get('email').touched"
        class="helper-text red-text">
        <span *ngIf="form.get('email').errors['required']">This field is required</span>
        <span *ngIf="form.get('email').errors['email']">Email is incorrect</span>
      </span>
    </div>
    <div class="input-field">
      <input
        formControlName="password"
        [ngClass]="{'invalid': form.get('password').invalid && form.get('password').touched}"
        id="password"
        type="password">
      <label for="password">Password:</label>
      <span
        *ngIf="form.get('password').invalid && form.get('password').touched"
        class="helper-text red-text">
        <span *ngIf="form.get('password').errors['required']">This field is required</span>
        <span *ngIf="form.get('password').errors['minlength'] && form.get('password').errors['minlength']['requiredLength']">
          Password should be longer ({{form.get('password').errors['minlength']['actualLength']}} of {{form.get('password').errors['minlength']['requiredLength']}})
        </span>
      </span>
    </div>
  </div>
  <div class="card-action">
    <button
      [disabled]="form.invalid"
      type="submit"
      class="modal-action btn waves-effect">Submit</button>
  </div>
</form>
