<div class="row">
  <div class="col s12">
    <div class="page-subtitle">
      <h4>Positions:</h4>
      <button
        (click)="onAddPosition()"
        class="waves-effect waves-light btn grey darken-1 btn-small">
        Add position
      </button>
    </div>

    <div *ngIf="!loading; else loader">
      <div
        *ngIf="positions.length !== 0; else empty"
        class="collection">
        <a *ngFor="let position of positions"
           (click)="onSelectPosition(position)"
           class="collection-item collection-item-icon">
          <span>{{position.name}} <strong>{{position.cost | currency:'UAH': 'symbol-narrow'}}</strong></span>
          <span>
            <i (click)="onDeletePosition($event, position)" class="material-icons">delete</i>
          </span>
        </a>
      </div>
      <ng-template #empty>
        <div class="center">No Positions</div>
      </ng-template>
    </div>

    <ng-template #loader>
      <app-loader></app-loader>
    </ng-template>
  </div>
</div>


<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="modal" #modal>
    <div class="modal-content">
      <h4 class="mb1">Add position</h4>
      <div class="input-field">
        <input
          formControlName="name"
          [ngClass]="{'invalid': form.get('name').invalid && form.get('name').touched}"
          id="pos-name" type="text">
        <label for="pos-name">Name</label>
        <span *ngIf="form.get('name').invalid && form.get('name').touched"
              class="helper-text red-text">This field is required
        </span>
      </div>
      <div class="input-field">
        <input
          formControlName="cost"
          type="number"
          min="1"
          [ngClass]="{'invalid': form.get('cost').invalid && form.get('cost').touched}"
          id="pos-cost">
        <label for="pos-cost">Price</label>
        <span *ngIf="form.get('cost').invalid && form.get('cost').touched"
              class="helper-text red-text">
           <span *ngIf="form.get('cost').errors['required']">This field is required</span>
           <span *ngIf="form.get('cost').errors['min']">Please enter a valid value</span>
        </span>
      </div>
    </div>
    <div class="modal-footer">
      <button
        type="button"
        [disabled]="form.disabled"
        (click)="onCancel()"
        class="modal-action waves-effect waves-black btn-flat">Cancel</button>
      <button
        type="submit"
        [disabled]="form.invalid || form.disabled"
        class="modal-action btn waves-effect">Save</button>
    </div>
  </div>
</form>
